.customEditorContent {
  min-height: calc(100vh - 600px);
  max-height: 100vh;
  padding: 20px 12px;

  overflow: auto;
}

.customEditorContent ul,
.customEditorContent ol {
  padding-left: 20px;
}

/* .customEditorContent  */
