.container {
  margin-top: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;

  /* This is also OK for using className={styles.logo} in footer.tsx */
  /* & .logo {
    font-weight: bold;
  } */
}

.logo {
  font-weight: bold;
}

.text {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
