.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  /* flex-wrap: wrap; */
  gap: 20px;
}

.post {
  /* width: 30%; */
}

@media screen and (max-width: 1200px) {
  .post {
    /* width: 45%; */
  }
}

@media screen and (max-width: 768px) {
  .post {
    /* width: 100%; */
  }
}
